.header__nav {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  @media screen and (min-width: 1440px) {
    padding-top: 22px;
    padding-bottom: 22px;
    position: relative;
  }
}
.header-info {
  display: none;
  @media screen and (min-width: 1440px) {
    display: flex;
    align-items: center;
  }
}
.header-info__clothing-list {
  font-size: 16px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.header-info__clothing-item {
  &:not(:last-child) {
    margin-right: 45px;
  }
  &:last-child {
    margin-right: 40px;
  }
}
.unactive {
  color: var(--header-unactive);
}

.header-form {
  font-size: 16px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-right: 177px;
}
.header-form__label {
  display: flex;
  cursor: pointer;
}
.header-form__input {
  margin-left: 20px;
  font-size: 12px;
  padding-bottom: 0;
  border: 1px solid var(--main-color);
  border-top: none;
  border-left: none;
  border-right: none;
  width: 150px;
  position: relative;
  top: -5px;
}
.header-info__lang-list {
  font-size: 16px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-right: 90px;
}
.header-info__lang-item {
  &:not(:last-child) {
    margin-right: 18px;
  }
}
.header-info__lang-link {
  transition: color 250ms var(--timing);
  &--active {
    color: var(--header-hover);
    &::after {
      content: '';
      background: var(--header-hover);
      border: 2px solid var(--header-hover);
      position: absolute;
      bottom: 0;
      left: 1091px;
      width: 25px;
    }
  }
  &:hover {
    color: var(--header-hover);
  }
  &:focus {
    color: var(--header-hover);
  }
}
.header__logo {
  fill: var(--main-color);
  margin-right: 98px;
  @media screen and (min-width: 768px) {
    margin-right: 481px;
  }
  @media screen and (min-width: 1440px) {
    margin-right: 307px;
    &--svg {
      width: 129px;
      height: 16px;
    }
  }
}
.header-icons {
  margin-right: 27px;
  @media screen and (min-width: 1440px) {
    margin-right: 0;
  }
}
.header-icons__item {
  &:not(:last-child) {
    margin-right: 14.2px;
  }
}
.header-icons__link {
  &--cabinet {
    fill: var(--main-color);
    transition: fill 250ms var(--timing);
    &:hover {
      fill: var(--header-hover);
    }
    &:focus {
      fill: var(--header-hover);
    }
  }
  &--favorites {
    fill: transparent;
    stroke: var(--main-color);
    transition: stroke 250ms var(--timing);
    &:hover {
      stroke: var(--header-hover);
    }
    &:focus {
      stroke: var(--header-hover);
    }
  }
  &--basket {
    fill: transparent;
    stroke: var(--main-color);
    transition: stroke 250ms var(--timing);
    &:hover {
      stroke: var(--header-hover);
    }
    &:focus {
      stroke: var(--header-hover);
    }
  }
}
.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  fill: transparent;
  stroke: var(--main-color);
  @media screen and (min-width: 1440px) {
    display: none;
  }
}
