ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
li {
  display: inline;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  display: inline-block;
  text-decoration: none;
  color: var(--main-color);
}
address {
  font-style: normal;
}
body {
  font-family: var(--main-font);
  font-weight: 400;
  color: var(--main-color);

  &.modal-open {
    overflow: hidden;
  }
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 375px) {
    width: 375px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @media screen and (min-width: 1440px) {
    width: 1440px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
.section {
  //   padding-top: 60px;
  //   padding-bottom: 60px;
  //   @media screen and (min-width: 1200px) {
  //     padding-top: 94px;
  //     padding-bottom: 94px;
  //   }
}
