:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Cormorant Garamond', serif;
  --third-font: 'Jost', sans-serif;
  --timing: cubic-bezier(0.4, 0, 0.2, 1);
  --main-color: #0f303f;
  --header-hover: #e64926;
  --header-unactive: #b7c1c5;
}
